---
import { getImage } from "astro:assets";
import gradientBackground from "../images/bg-main-desktop.png";
import Layout from "../layouts/Layout.astro";
import CardFront from "../components/CardFront.astro";
import CardBack from "../components/CardBack.astro";
import PaymentForm from "../components/PaymentForm.astro";

const cardColumnBackground = await getImage({
  src: gradientBackground,
  quality: "max",
});
---

<Layout title='Enter Your Payment Information'>
  <main>
    <section
      class='cards'
      style={`background: url(${cardColumnBackground.src}) top left / cover no-repeat;`}
    >
      <CardFront
        cardHolderName='Frank Jones'
        cardNumber={7666444873649821}
        expirationDate={{ month: 3, year: 2029 }}
        classNames={["front-card-styles"]}
      />
      <CardBack cvc={747} />
    </section>
    <section>
      <PaymentForm />
    </section>
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    height: 100vh;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.cards {
      flex-basis: 80%;
    }

    .front-card-styles {
      transform: translateX(40%);
      filter: drop-shadow(9px 12px 12px rgba(0, 0, 0, 0.3));
    }
  }
</style>
