---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='A sample mockup using Astro, React, and client side form validation.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js'
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --light-gray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --extra-dark-violet: hsl(278, 68%, 11%);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
  }

  .screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px;
    width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
  }
</style>
